
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

</head>
<body>
  <h1>Products:</h1>

    {% if Orders %}
    <div>
        {% for order in orders %}
            <div>
                <p>delivery_address: {{ order.delivery_address }}</p>
                <p>Promocode: {{ order.promocode }}$</p>
                <p>Color: {{ order.color }}</p>


            </div>


        {% endfor %}
    </div>
    {% else %}
        <h3>No Orders yet</h3>
    {% endif %}

    <div>
    <a href="{% url 'shopapp: order-list' %}"
    >Create a new order
    </a>
    </div>
</body>
</html>