{% block title%}
  Order #{{object.pk}}
{% endblock %}

{% block body %}
<h1> <strong>Order  Name</strong> </h1>
       <div>
           <div>Delivery address:{{ object.delivery_address }}</div>
                <div>Promocode: {{ object.promocode }}</div>
                <div>Color:{{ object.color }}</div>
       </div>
<div>
    <a href="{% url 'shopapp:order-list' %}"
    >Orders list</a>
    </div>
<div>
        <a href="{% url 'shopapp:update_orders' pk=object.pk %}">Update order</a>
    </div>

{% endblock %}