
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

</head>
<body>
  <h1>Orders:</h1>


    <div>
        {% for order in orders %}
            <div>
                 <p><a href="{% url 'shopapp:orders_details' pk=order.pk %}"
                >delivery_address: {{ order.delivery_address }}</a></p>
                <p>Promocode: {{ order.promocode }}</p>
                <p>Color: {{ order.color }}</p>


            </div>


        {% endfor %}
<div>
    <a href="{% url 'shopapp:create-order' %}"
    >Create Order</a>
    </div>
        <div>
    <a href="{% url 'shopapp:products-list' %}"
    >Go  to products list</a>
    </div>

 </body>
</html>