{% load i18n %}

{% block title %}
    {% translate 'Products list' %}
{% endblock %}

{%block body%}
  <h1>
        {% translate 'Products' %}
  </h1>
    {% if products %}
        <div>
            {% blocktranslate count products_count=products|length %}
                There is only one product.
                {% plural %}
                There are {{ products_count }} products.
            {% endblocktranslate %}
        </div>
    {%endif%}

    <div>
        {% for product in products %}
            <div>
                <p><a href="{% url 'myapp:product_details' pk=product.pk %}"
                >{% translate 'Name'%} :{{ product.name }}</a></p>
                <h4><p>{% translate 'Description'%} : {{product.description}} </p></h4>

                <h4><p>{% translate 'Price'%} : {{ product.price }}$</p></h4>
                <h4><p>{% translate 'Discount'%} : {% firstof product.discount 'no discount' %}%</p></h4>
                <h4><p>{% translate 'Color'%} :{{ product.color }}</p></h4>

                {% if product.preview %}
                        <img src="{{product.preview.url}}" alt="{{product.preview.name}}" width="500" height="300">
                {% endif %}


            </div>
        {% endfor %}
    </div>

    <div>
    <a href="{% url 'myapp:create-product' %}"
    >Create a new product
    </a>
      <div>
    <a href="{% url 'myapp:create-order' %}"
    >Create Order</a>
    </div>
        <div>
    <a href="{% url 'myapp:order-list' %}"
    > Go to Orders list</a>
    </div>

    </div>
{%endblock%}