{% block content %}
<h1> Static list</h1>
<ul>
    {% for article in articles %}
    <li>
        <h2>{{ article.title }}</h2>
        <p>Author: {{ article.author.name }}</p>
        <p>Category: {{ article.category.name }}</p>
        <p> Content: {{article.content}} </p>
        <p>Public date: {{ article.pub_date }}</p>
        <p>Tags:
            <ul>
                {% for tag in article.tags.all %}
                <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
